body {
    width: 90%;
    margin: auto;
  
}

.Title {
    background-color:#F55A5A;
    color:#fff;
    padding: 25px;
    text-align: center;
    font-size: 40px;
}

img {
    height:50%;
    width:50%;
}